<article>
  <div class="content-video">
    <iframe src="https://player.vimeo.com/video/14194717" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <ul class="btn-list">
      <li>
        <a class="active" href="https://player.vimeo.com/video/14194717">Guggenheim</a>
      </li>
      <li>
        <a href="https://player.vimeo.com/video/125294290">The Met</a>
      </li>
      <li>
        <a href="https://player.vimeo.com/video/577388349">MoMa</a>
      </li>
    </ul>
  </div>
  </article>
  
  <aside>
    <h2>Fall Exhibits in NYC</h2>
    <p><strong>The Guggenheim</strong>Art, Architecture, and Innovation: Celebrating the Guggenheim Museum documents Frank Lloyd Wright’s Solomon R. Guggenheim Museum</p>
    <p><strong>The Metropolitam Museum of Art</strong>Join Andrew Bolton, the Wendy Yu Curator in Charge of The Costume Institute, on a tour of the exhibition, In America: A Lexicon of Fashion,</p>
    <p><strong>Museum of Modern Art</strong>Mariana Salem, assistant director of Special Programming and Events, takes a close look at José Dolores López’s "Adam and Eve and the Serpent" (c. 1930) </p>
  </aside>