header {
    max-width: 980px;
    margin: 0 auto;
    padding: 1 rem;
    padding-top: 2rem;
    h1 {
      font-size: 2.5rem;
    }
    p {
        display: none;
        @media (min-width: 780px) {
          display: block;
          font-size: 1.5rem;
          text-transform: uppercase;
          line-height: 1.1;
          margin-bottom: 1rem;
        }
      }
      


    h1 + p {
      padding-top: 1rem;
      border-top: 3px double #dbd1b5;
    }
    p + p {
      font-size: 1rem;
      line-height: 1.1;
      color: #999;
    }
  }

  
  